@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
    width: min(90%, 1400px);
}

.top-container__logo {
    display: block;
}

.top-container__btn {
    border: 1px solid hsl(322, 100%, 66%);
    color: hsl(322, 100%, 66%);
    padding: 6px;
    width: min(30%, 150px);
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
}

.top-container__btn:hover {
    color: hsla(322, 100%, 66%, 0.42);
    border: 1px solid hsla(322, 100%, 66%, 0.47);
}

.intro-container {
    width: min(90%, 1400px);
    margin: 50px auto;
    text-align: center;
}

.intro-container__title {
    font-family: Poppins;
}

.intro-container__description {
    margin: 20px auto;
    font-family: Open Sans;
}

.intro-container__btn {
    background-color: hsl(322, 100%, 66%);
    display: flex;
    width: min(70%, 300px);
    margin: 10px auto;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-family: Open Sans;
    font-size: 1.1rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.236);
}

.intro-container__btn:hover {
    background-color: hsla(322, 100%, 66%, 0.664);

}

.mockup-container__image {
    width: min(80%, 1400px);
    margin: 0px auto;
}

.mockup__image {
    width: 100%;
}

.stats-container {
    width: min(90%, 1400px);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    position: relative;
    font-weight: bold;
}

.stats-container__number {
    font-size: 4.6rem;
    font-family: Open Sans;
}

.messages-container__number {
    font-size: 4.6rem;
    font-family: Open Sans;
}

.stats-container__title {
    text-align: center;
    margin: 0 auto;
}

.messages-container__title {
    text-align: center;
    margin: 0 auto;
}

.stats-container__communities{
    width: min(50%,250px);
}

.messages-container__communities {
    width: min(50%,250px);
}


.top_bg--mobile {
    
    background-image: url("images/bg-section-top-mobile-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;

}

.grow-togeather__bg {
    background-color: hsl(207, 100%, 98%);
    padding: 100px 0px 0px 0px;
}

.card {
    width: min(80%, 1400px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 70px;
}

.card_titles {
    margin: 30px auto;
    font-family: Poppins;
    font-size: clamp(1rem, 5vw, 2.5rem);
}

.cards_description {
    font-family: Open Sans;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.grow-togeather__image {
    width: 100%;
}

.middle_bg--mobile {
    background-image: url("images/bg-section-bottom-mobile-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin-bottom: 50px;
}


.middle_2_bg--mobile {
    background-image: url("images/bg-section-top-mobile-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin-top: 50px;
}

.your-users__bg {
    background-color: hsl(207, 100%, 98%);
}

.middle_3_bg--mobile {
    background-image: url("images/bg-section-bottom-mobile-2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

.build-community-container {
    margin: 100px auto;
    text-align: center;
}

.build-community__title {
    font-size: clamp(1rem, 5vw, 2rem);
    font-family: Poppins;
}

.build-community__btn {
    background-color: hsl(322, 100%, 66%);
    display: flex;
    width: min(70%, 300px);
    margin: 40px auto;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-family: Open Sans;
    font-size: 1.1rem;
}

.bottom_bg--mobile {
    background-image: url("images/bg-footer-top-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 80px;
    display: block;
}

.footer-container {
    background-color: rgb(0, 35, 70);
    color: white;
    display: flex;
    flex-direction: column;
}

.footer_logo {
    filter: brightness(0) invert(1);
}

.footer-container__details {
    order: 1;
    width: min(90%, 1400px);
    margin: 0px auto;
}

.footer-container__newsletter {
    width: min(90%, 1400px);
    
    margin: 70px auto;
}

.footer-container__title {
    font-family: Poppins;
}

.footer-container__description {
    margin: 30px auto;
    font-family: Open Sans;
}

.footer-container_btn {
    background-color: hsl(322, 100%, 66%);
    display: flex;
    width: min(50%, 150px);
    margin: 10px 0;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-family: Open Sans;
    font-size: 1.1rem;
    text-align: right;
}

.footer-container__email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-container__email--field {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.footer-details__description {
    margin: 40px auto;
    font-family: Open Sans;
}

.footer-container__contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-container__phone {
    display: flex;
    gap: 15px;
}

.footer-container__contact-email {
    display: flex;
    gap: 15px;
}

.logos_container {
    margin: 40px auto;
    display: flex;
    gap: 20px;
}


@media (min-width:720px) {

    .top-container__logo {
        width: 200px;
    }

    .intro-container__description {
        width: 60ch;
    }

    .stats-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .top_bg--mobile, .middle_bg--mobile, .bottom_bg--mobile, .middle_2_bg--mobile, .middle_3_bg--mobile {
        display: none;
    }

    .top_bg--desktop {
        background-image: url("images/bg-section-top-desktop-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        margin-top: 100px;
    }

    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: min(90%, 1400px);
        text-align: left;
    }

    .grow-togeather__image, .your-users__image {
        order: 1;
    }
    
    .image {
        width: 50%;
    }

    .middle_bg--desktop {
        background-image: url("images/bg-section-bottom-desktop-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        margin-bottom: 100px;
    
    }

    .middle_2_bg--desktop {
        background-image: url("images/bg-section-top-desktop-2.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
        margin-top: 200px;
    }

    .middle_3_bg--desktop {
        background-image: url("images/bg-section-bottom-desktop-1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 150px;
    }

    .bottom_bg--desktop {
        background-image: url("images/bg-footer-top-desktop.svg");
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 250px;
    }

    .footer-container {
        background-color: rgb(0, 35, 70);
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
        padding: 0px 100px 0px 100px;
        gap: 100px;
    }

    .footer-container__details {
        order: 0;
    }
}

.attribution {
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0 10px 0;

}
.attribution > a {
    text-decoration: none;
}

.frontendmentor {
    color: rgb(0, 128, 64);
}

.author {
    color: rgb(0, 128, 64);
}